<div class="container">
  <h3 class="text-center">My Expenses</h3>

  <div class="row">
    <div class="col-4 offset-8">
      <select class="form-control" [(ngModel)] = "filteredYear">
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-4" *ngFor="let expense of expenses | filter : filteredYear ; index as i; first as isFirst; even as isEven">
      <app-expense [expense]="expense" [isEven]="isEven" (deleteEvent)="deleteExpense($event)"></app-expense>
      <!-- Index: {{ i }} | First : {{isFirst}} | Even : {{ isEven }} -->
    </div>
  </div>
</div>
