<!-- <ng-content select="header"></ng-content> -->

<div class="card" appHighlight [favColor]="'yellow'">
  <div class="card-img-top text-center">
    <img [src]="expense.imagePath" class="img-fluid rounded-circle" />
  </div>
  <div class="card-body">
    <h4 class="text-center card-title">{{ expense.title | titlecase}}</h4>

    <p [ngStyle]="dynamicStyle">Amount :
      <span [innerText]="expense.amount | currency : 'INR' "></span></p>

    <!-- <p [ngClass]="['my-border', 'feature']">Date : <span [innerText]="expense.createdAt"></span></p> -->
    <!-- <p [ngClass]="dynamicClasses"> -->
    <p>Date : <span [innerText]="expense.createdAt | date : 'dd/MM/yyyy' "></span></p>

    <button class="btn btn-danger btn-block"
      (click)="onDelete()">DELETE</button>
  </div>
</div>

<!-- <ng-content select="footer"></ng-content> -->
